---
layout: page
title: "Archive"
header-img: "img/archive-bg.jpg"
---

<h2>Post Archive</h2>
<ul class="list-unstyled">
    {% for post in site.posts %}
        {% unless post.next %}
            <h3>{{ post.date | date: '%Y' }}</h3>
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                <h3>{{ post.date | date: '%Y' }}</h3>
            {% endif %}
        {% endunless %}
        <li class="row">
          <span class="col-xs-4 col-md-2">
          <small>
            {{ post.date | date:"%d %b" }}
          </small>
          </span>
          <span class="col-xs-8 col-md-10" >
          <a href="{{ post.url }}">{{ post.title }}</a>
          </span>
        </li>
    {% endfor %}
</ul>
